{{ form_start(commentForm) }}



     <div class="form-group">
    {{ form_widget(commentForm.content,  {'attr': {'style': 'height: 150px; width: 500px;'}}) }}
    </div>
    <button class="btn btn-succes">{{ button_label|default('Envoyer') }}</button>
{{ form_end(commentForm) }}
