{% extends 'base.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}

    {{ include('lesson/_form.html.twig') }}

  <!--  <a href="{{ path('lesson_index') }}">back to list</a> -->
{% endblock %}
